<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>название: {{ siteInfo.title }}</h1>
    <p>Описание: {{ siteInfo.description }}</p>
    <img src="{{ siteInfo.logo.url }}" alt="Logo" style="border-radius: 50%; width: 150px;;">
    <p>Телефон: {{ siteInfo.phone_number }}</p>
    <p>Email: {{ siteInfo.email }}</p>
    <p>Адрес: {{ siteInfo.address }}</p>
</body>
</html>