<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> <b>название: </b>  {{ siteInfo.title }}</h1>
    <p><b>Описание: </b> {{ siteInfo.description }}</p>
    <img src="{{ siteInfo.logo.url }}" alt="Logo" style="border-radius: 50%; width: 150px;;">
    <p><b>Телефон: </b> {{ siteInfo.phone_number }}</p>
    <p><b>Email: </b> {{ siteInfo.email }}</p>
    <p><b>Адрес: </b> {{ siteInfo.address }}</p>
</body>
</html>